section {
  width: 400px;
  height: 325px;
  margin: 20px auto;
  padding: 10px 30px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.show-btn {
  padding: 20px 45px;
  font-size: 20px;
  background-color: #191919;
  border: none;
  border-radius: 10px;
  _color: #e6e8e6;
  color: #fa9b81;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.answer {
  margin-top: 30px;
}

.show-btn:hover {
  background-color: #ced0ce;
  color: #191919;
  cursor: pointer;
}

.categories {
  margin-top: 0;
  display: flex;
  align-self: flex-start;
  position: absolute;
  top: 275px;
}

.category-box {
  margin-top: 0;
  margin-right: 5px;
  padding: 5px 10px;
  background-color: #191919;
  color: #fff;
  border-radius: 5px;
}

.html-box {
  color: cyan;
}

.flex-box {
  color: yellow;
}

.css-box {
  color: #dfa0e7;
}
