.container {
  margin: 20px auto;
  text-align: center;
  width: 500px;
}

main {
  background-color: #e6e8e6;
  padding: 10px 0;
  border-left: var(--outer-border);
  border-right: var(--outer-border);
}

header {
  background-color: #f15025;
  color: #fff;
  border-radius: 20px 20px 0 0;
  border-left: var(--outer-border);
  border-right: var(--outer-border);
  border-top: var(--outer-border);
}

h1 {
  margin: 0;
  padding: 50px 0;
  text-transform: uppercase;
  font-size: 50px;
  text-shadow: 1px 1px #191919;
  font-family: "Chango", Arial, Helvetica, sans-serif;
}

.bookmark-icon {
  position: absolute;
  top: -12px;
  right: 5px;
  width: 50px;
}

h2 {
  height: 45px;
  margin-top: 25px;
  margin-bottom: 25px;
}

section {
  width: 400px;
  height: 325px;
  margin: 20px auto;
  padding: 10px 30px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  /*box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);*/
}

.card {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.categories {
  text-align: left;
}

.show-btn {
  padding: 20px 45px;
  font-size: 20px;
  background-color: #191919;
  border: none;
  border-radius: 10px;
  _color: #e6e8e6;
  color: var(--button-text-color);
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.answer {
  margin-top: 30px;
}

.show-btn:hover {
  background-color: #ced0ce;
  color: #191919;
  cursor: pointer;
}

.choices {
  margin-top: 0;
  display: flex;
  align-self: flex-start;
  position: absolute;
  top: 280px;
  left: 20px;
}

.choices-box {
  margin-top: 0;
  margin-right: 5px;
  padding: 5px 10px;
  background-color: #191919;
  border-radius: 5px;
}

.selectors {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 0;
  border: 1px solid red;
  padding: 0;
}

.selectors-box {
  padding: 15px 20px;
  background-color: #191919;
  border-radius: 5px;
  font-size: 20px;
}

.html-box {
  color: cyan;
}

.flex-box {
  color: yellow;
}

.css-box {
  color: #dfa0e7;
}

.grid-box {
  color: antiquewhite;
}

.js-box {
  color: chartreuse;
}

.git-box {
  color: darksalmon;
}

.shell-box {
  color: #fa5b7b;
}

.react-box {
  color: rgb(127, 255, 214);
}

.nosql-box {
  color: tomato;
}
