* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
  margin: 20px auto;
  text-align: center;

  width: 500px;
  _border: 5px solid black;
  _border-radius: 20px;
}

main {
  background-color: #e6e8e6;
  padding: 10px 0;
}

header {
  background-color: #f15025;
  color: #fff;
  border-radius: 20px 20px 0 0;
}

h1 {
  margin: 0;
  padding: 50px 0;
  text-transform: uppercase;
  font-size: 50px;
  text-shadow: 1px 1px #191919;
}

h2 {
  height: 45px;
  margin-top: 25px;
  margin-bottom: 25px;
}

section {
  width: 400px;
  height: 325px;
  margin: 20px auto;
  padding: 10px 30px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card {
  display: flex;
  flex-direction: column;

  align-items: center;
  position: relative;
}

.show-btn {
  padding: 20px 45px;
  font-size: 20px;
  background-color: #191919;
  border: none;
  border-radius: 10px;
  _color: #e6e8e6;
  color: #fa9b81;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.answer {
  margin-top: 30px;
}

.show-btn:hover {
  background-color: #ced0ce;
  color: #191919;
  cursor: pointer;
}

.categories {
  margin-top: 0;
  display: flex;
  align-self: flex-start;
  position: absolute;
  top: 275px;
}

.category-box {
  margin-top: 0;
  margin-right: 5px;
  padding: 5px 10px;
  background-color: #191919;
  color: #fff;
  border-radius: 5px;
}

.html-box {
  color: cyan;
}

.flex-box {
  color: yellow;
}

.css-box {
  color: #dfa0e7;
}

footer {
  display: flex;
  justify-content: space-evenly;
}

.bookmark-icon {
  position: absolute;
  top: -25px;
  right: -10px;
  width: 50px;
}

.icon-footer {
  width: 70px;
}

.references {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.references > a {
  text-decoration: none;
  font-size: 15px;
  color: darkslategray;
}
