.card-section {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.card-section__bookmark {
  position: absolute;
  top: -12px;
  right: 5px;
  width: 50px;
}

.card-section__btn {
  padding: 20px 45px;
  background-color: var(--dark-base-color);
  color: var(--button-color);
}

.card-section__btn:hover {
  background-color: #ced0ce;
  color: var(--dark-base-color);
  cursor: pointer;
}

.card-section__answer {
  margin-top: 30px;
}

.card__categories {
  margin-top: 0;
  display: flex;
  align-self: flex-start;
  position: absolute;
  top: 280px;
  left: 20px;
}

.card__categories--box {
  margin-top: 0;
  margin-right: 5px;
  padding: 5px 10px;
  background-color: var(--dark-base-color);
  border-radius: 5px;
}
