.categories {
  text-align: left;
  height: 300px;
}

.categories__container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  padding: 0;
}

.categories__container--btn {
  padding: 15px 20px;
  background-color: #ced0ce;
  color: #191919;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  box-shadow: var(--box-shadow);
}

.categories__container--btn:hover {
  background-color: var(--dark-base-color);
}

.html-btn:focus,
.html-box {
  color: cyan;
}

.flex-btn:focus,
.flex-box {
  color: yellow;
}

.css-btn:focus,
.css-box {
  color: #dfa0e7;
}

.grid-btn:focus,
.grid-box {
  color: antiquewhite;
}

.js-btn:focus,
.js-box {
  color: chartreuse;
}

.git-btn:focus,
.git-box {
  color: darksalmon;
}

.shell-btn:focus,
.shell-box {
  color: #fa5b7b;
}

.react-btn:focus,
.react-box {
  color: rgb(127, 255, 214);
}

.nosql-btn:focus,
.nosql-box {
  color: tomato;
}

.categories__btn {
  width: 100%;
  padding: 20px 0;
  margin-top: 18px;
  background-color: var(--button-color);
}
