footer {
  display: flex;
  justify-content: space-evenly;
  border-left: var(--outer-border);
  border-right: var(--outer-border);
  border-bottom: var(--outer-border);
  border-radius: 0 0 20px 20px;
  padding: 25px 0;
  background-color: var(--dark-base-color);
}

.icon-footer {
  width: 70px;
}
